/* Global Styles */

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Open Sans', sans-serif;
}

.nav-tabs {
    margin-top: 30px;
}

.img-portfolio {
    margin-bottom: 15px;
}

.search {
    margin-bottom: 30px;
}

#executiveTable {
    margin-top: 30px;
}

.title {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

iframe {
    width: 500px;
    height: 350px;
}

.championPhotos {
    font-size: 10px;
}

.championPhotos > td {
    width: 80px;
}

.photoHeader {
    margin-bottom: 30px;
}

.photo {
    width: 80px;
    height: 100px;
}

@media screen and (min-width: 500px) {
    header.carousel .carousel {
        height: 70%;
    }

    header.carousel {
        height: 50%;
    }

    header.carousel .item,
    header.carousel .item.active,
    header.carousel .carousel-inner {
        height: 100%;
    }

    header.carousel .fill {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 50px;
    }

    iframe {
        width: 550px;
        height: 400px;
        margin-left: 300px;
    }

    .title {
        margin-top: 50px;
    }

    .search {
        margin: auto;
    }

    .photoHeader {
        margin-bottom: 30px;
    }

    .photo {
        width: 175px;
        height: 230px;
        margin-right: 100px;
    }

    .handicapImage {
        width: 70%;
        height: 70%;
        margin-left: 200px;
    }

    .img-portfolio {
        margin-bottom: 30px;
    }

    .img-hover:hover {
        opacity: 0.8;
    }

    footer {
        margin: 50px 0;
    }
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}