/* Global Styles */

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 50px;

    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.handicapImage {
    width: 70%;
    height: 70%;
    margin-left: 200px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

iframe {
    margin-left: 240px;
}

.title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}